body {
  font-family: 'poppins', san-serif;
  font-size: 2rem;
  font-weight: 300;
  background-color: rgb(28, 61, 94); 
}

h1,p {
  text-align: center;
  font-size: 1.145rem;
}

p {
  text-align: left;
  font-size: 1.325rem;
}

.description {
  text-align: center;
}
 
label {
  display: flex;
  font-size: 1.315rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

form {
  background-color: #fff;
  text-align: center;
  padding: 2.5rem 0.625rem;
  width: 70%;
  align-items: center;
  margin: 50px auto;
  border-radius: 0.25rem;
}

input
button
select
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.15rem;
  font-size: 1.125rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.25rem;
  padding: 0.325rem o.55rem;
  background-color: rgb(206, 199, 199);
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 0.25rem;
}

.input-radio
.input-checbox {
  display: inline-block;
  margin-right: 0.525rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-texterea {
  display: 0 auto;
  padding: 10px;
  width: 100%;
  min-height: 120%;
  padding: 0.525rem;
  resize: vertical;
  }

.submit-button {
  display: inline-block;
  width: 50%;
  padding: 0.65rem;
  background-color: #008000;
  color: inherit;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;}

 
